/* :root {
  --uniform-1y: #263646;
  --main-peach: #FAE2C6;
  --main-orange: #F6C58E;
  --light-background: #F2F5F8;
} */

.tab-container {
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-tabs__tab-panel,
.react-tabs__tab-panel--selected {
  /* border: 1px solid red !important; */
  border-radius: 0.75rem;
  /* padding: 2rem; */
  background-color: var(--light-background);
  z-index: 2;
}

.react-tabs__tab-list {
  /* border: 1px solid red; */
  width: 100%;
  margin: 0;
  border: none;
  display: flex;
  padding: 1rem 1rem 0 1rem;
  /* flex-shrink: 1; */
  font-size: calc(0.75rem + 0.2vw);
}

.react-tabs__tab {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  flex-grow: 1;
  text-align: center;
  padding: 0.75rem;
}

.react-tabs__tab--selected {
  background-color: var(--light-background);

  border: none;
}

.react-tabs__tab-panel,
.react-tabs__tab-panel--selected {
  align-self: stretch;
}

.react-tabs__tab--selected::after {
  display: none;
}

.completed-containers {
  /* border: 1px solid red; */
  padding: 1.25rem;

}
.completed-headers {
  display: flex;
  border-bottom: 2px solid black;
  padding: 1rem;
  font-size: calc(0.75rem + 0.2vw);
  gap: 30px;
}

.completed-information {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: calc(0.75rem + 0.2vw);
  gap: 30px;
  border-bottom: 1px solid ;
}

.completed-information:last-child{
  border-bottom: none
}
.completed-information > *,
.completed-headers > * {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.completed-information > *:nth-child(n + 4),
.completed-headers > *:nth-child(n + 4) {
  /* border: 1px solid red; */
  margin-left: 2rem;
}

.provider-image {
  border: 1px solid black;
  /* width: 200px; */
}

.service-type {
  /* border: 1px solid red; */
  border-radius: 0.6rem;
  margin: 1.5rem 0rem;
  background-color: var(--brown-3);
}

.service-type,
.service-type-header {
  padding: 0.85rem 1.25rem;
}

.status {
  text-transform: capitalize;
}

@media (min-width: 992px) {
  .react-tabs__tab {
    padding: 1rem;
    /* border: 1px solid red; */
  }
  .react-tabs__tab-list {
    width: 90%;
  }

  .completed-headers {
    display: flex;
    border-bottom: 2px solid #476685;
    padding: 1.5rem 2rem;
    font-size: calc(0.75rem + 0.2vw);
  }

  .completed-information {
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
    font-size: calc(0.75rem + 0.2vw);
  }

  .completed-information > *,
  .completed-headers > * {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
}
