/* :root {
  --uniform-1y: #263646;
  --main-peach: #FAE2C6;
  --main-orange: #F6C58E;
  --light-background: #F2F5F8;
} */



.completed-containers {
  /* border: 1px solid red; */
  padding: 1.25rem;

}
.completed-headers {
  display: flex;
  border-bottom: 2px solid var(--uniform-2);
  padding: 1rem;
  font-size: calc(.9rem + 0.2vw);
  gap: 30px;
  font-weight: 700;
  
}

.completed-information {
  border-bottom: 1px solid;
  position: relative;
}

.completed-information-main {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: calc(0.9rem + 0.1vw);
  gap: 30px;
}

.completed-information:last-child {
  border-bottom: none;
}
.completed-information-main > *,
.completed-headers > * {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--uniform-1);
}

.completed-information-main > *:nth-child(n + 4),
.completed-headers > *:nth-child(n + 4) {
  /* border: 1px solid red; */
  /* margin-left: 2rem; */
}

.provider-image {
  border: 2px solid var(--uniform-1);
  width: 180px;
  height: 100px;
  object-fit: cover;
}

.service-type {
  /* border: 1px solid red; */
  border-radius: 1rem;
  margin: 1.5rem 0rem;
 

  background-color: var(--brown-3);
  text-transform: capitalize;
  color: var(--uniform-1);
}

.service-type,
.service-type-header {
  padding: 0.85rem 1.25rem;
  width: 160px !important;
  margin-left: calc(1rem + 1.5vw);
  flex: 0 1 auto;
}

.status {
  text-transform: capitalize;
}

/* 
.completed-information-main > * {
  border: 1px solid red !important;
}

.completed-headers > * {
  border: 1px solid red;
} */

.display-status,.display-status-sm {
  display: none;
}

.show-additional-info {
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: .1s;
  /* color: var(--uniform-3); */
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.show-additional-info:hover {
  color: var(--brown-1);
}

/* @media (min-width: 1200px) {

  .react-tabs__tab-list {
    width: 90%;
  }

  .completed-headers {
    display: flex;
    border-bottom: 2px solid #476685;
    padding: 1.5rem 2rem;
    font-size: calc(0.75rem + 0.2vw);
  }

  .completed-information {
    display: flex;
    justify-content: center;
    font-size: calc(0.75rem + 0.2vw);
  }



  .completed-information > *,
  .completed-headers > * {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
} */

@media screen and (min-width: 1200px) {
  .display-status {
    display: flex;
  }

  .show-additional-info {
    display: none;
  }

  .additional-info {
    display: none;
    /* border: 1px solid red; */
  }
}

@media screen and (min-width: 765px) {
  .display-status-sm {
    display: flex;
  }

  .display-status-sm-additional {
    display: none;
  }


}
