.cancel-modal .modal-body {
  gap: 3rem;
}

.cancel-modal .modal-body svg {
  fill: var(--brown-2);
  width: 150px !important;
}

.cancel-modal .modal-body button {
  color: #fff;

  border-radius: 0.6rem;
  border: none;
  padding: 0.75rem 1.5rem;
}

.cancel-modal .modal-body .not-cancelled {
  background-color: var(--brown-2);
}

.cancel-modal .modal-body .cancelled {
  background-color: var(--uniform-2);
}

.cancel-modal .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}
