
  
  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    width: 27%;
    margin-top: 550px;
    margin-left: 60px;
   
  
  }

  .par{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    color: grey;
    font-size: 18px;
  }