.provider-booking-container {
  /* padding: 0 !important; */
}
.provider-booking-container > * {
  /* border: 1px solid red; */
}
.rbc-calendar {
  width: min(100%, 1200px);
  max-height: 650px;
  /* height: max(660px, 15vw) */
  /* max-height: 100px */
}

.rbc-header {
  padding: 0.5rem 0rem !important;
}

.rbc-month-view {
  margin-top: 1rem;
  border-radius: 1rem;
}

.rbc-month-row:last-of-type .rbc-day-bg:last-of-type {
  /* border: 1px solid red; */
  border-bottom-right-radius: 1rem;
  border-right: 1px solid #ddd;
}

.rbc-event-content {
  text-align: center;
}

.rbc-row-segment {
  margin-top: 0.5rem;
}
.rbc-row-segment:has(.rbc-event) {
  padding: 0rem 2%;
}

.provider-booking-container .react-tabs {
  width: min(100%, 1700px);
  padding: 1rem;
}
.provider-booking-container .react-tabs__tab-panel {
  padding: 1rem;
}

.provider-booking-container .react-tabs__tab-list .react-tabs__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.provider-booking-container .react-tabs__tab-list {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: calc(1rem + 2vw);
}
.provider-booking-container .react-tabs__tab {
  border-radius: 0;
  width: 300px;
  min-height: 80px;
  height: 120px;
}

.provider-booking-container .all-tab {
  background-color: var(--uniform-4);
}

.provider-booking-container .pending-tab {
  background-color: var(--toolshop-3);
}

.provider-booking-container .upcoming-tab {
  background-color: var(--uniform-3);
}

.provider-booking-container .completed-tab {
  background-color: var(--landscaper-2);
}

.provider-booking-container .cancelled-tab {
  background-color: #ff6d60;
}

.provider-booking-header-container {
  border-bottom: 2px solid var(--uniform-2);
}

.provider-booking-header {
  font-weight: 700;
  font-size: 1rem;
}
.provider-booking,
.provider-booking-header {
  flex: 1 1 0;
}

.provider-booking:nth-child(2),
.provider-booking-header:nth-child(2) {
  flex: 1.5 1 0;
}

.provider-booking-container {
  border-bottom: 1px solid #000000;
  position: relative;
}

.provider-booking-rows {
  padding-inline: calc(1rem + 1vw);
}

.provider-booking-container .map-pin {
  fill: rgba(211, 16, 16, 0.603);
  cursor: pointer;
  margin-left: 0.5rem;
}

.provider-booking-container .map-pin:hover {
  position: relative;
  top: -2px;
}

.provider-booking-container .map-pin circle {
  fill: var(--uniform-5);
}

.provider-booking-header-container,
.provider-booking-container {
  display: flex;
  padding: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
}

.provider-booking button {
  border: none;
  padding: 0.33rem 0.75rem;
  border-radius: 0.25rem;
  transition: 0.1s;
  font-weight: 500;
  min-width: 70px;
  height: 2.5rem;

  background-color: rgb(228, 226, 226);
}

.provider-booking button:hover {
  background-color: rgb(219, 218, 218);
}

.accept-button:hover,
.complete-button:hover {
  color: #53b946;
  /* background-color: #53b946; */
}

.decline-button:hover,
.cancel-button:hover {
  color: #e93a2b;
}

.provider-booking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.provider-booking-filter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: calc(5vw);
  cursor: pointer;
}

.filter {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.show-button {
  position: absolute;
  border: none;
  background-color: transparent;
  bottom: 0;
  right: 6px;
  /* left: 50%; */
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.1s;
}

.show-button:hover {
  color: #4d4444;
}

.provider-dropdown-info {
  margin-top: 1rem;
  gap: 0.25rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider-booking-header.only-large,
.provider-booking.only-large {
  display: none;
}

.provider-booking-container .page-item .page-link {
  background-color: transparent;
  /* background-color: var(--uniform-4); */
  /* border: 1px solid var(--uniform-1); */
  border: 1px solid black;
  color: black
}

.provider-booking-container .page-item.active  .page-link{
     background-color: var(--uniform-3);
     color: var(--uniform-5);
     border-color: var(--uniform-1)
}
@media screen and (min-width: 1400px) {
  .provider-booking-filter {
    gap: 7rem;
  }

  .provider-booking-rows {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .show-button {
    display: none;
  }

  .provider-booking.only-large,
  .provider-booking-header.only-large {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .provider-dropdown-info {
    display: none;
  }

  .provider-booking button {
    border: none;
    padding: 0.33rem 0.75rem;
    border-radius: 0.25rem;
    transition: 0.1s;
    font-weight: 500;
    min-width: 70px;
    height: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .provider-booking-rows {
    padding: 0;
  }

  .provider-booking-container .react-tabs {
    padding: 0;
  }
  .provider-booking-container .react-tabs__tab-panel {
    padding: 1rem 0rem;
  }

  .provider-booking-container {
    padding: 1rem !important;
  }

  .provider-booking-container .react-tabs__tab-list {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1rem + 2vw);
  }
}
