.btns{
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  /* position: absolute; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 150px; */
}

.reviews-container {
  max-width: 1200px;
  width: 100%;
}

.reviews-buttons {
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
}

.reviews-buttons .btn {
  border-radius: 0;
  border: none;
  background-color: #fff;
  color: #333;
  margin-right: 10px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reviews-buttons .btn:last-child {
  margin-right: 0;
}

.reviews-buttons .btn.active {
  background-color: #333;
  color: #fff;
}

.reviews-list {
  margin-top: 50px;
  height: 400px;
  overflow-y: auto;
}

.reviews-list p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.reviews-list p:last-of-type {
  margin-bottom: 50px;
  margin-top: 30px;
}


.name{
/* float: left; */
margin-top: 20px;
margin-right: 1100px;

}

.time{
  float: right; 
  margin-right: 20px;
}

.horizontal-line {
  height: 1px;
  background-color: black;
  margin: 20px 0;
}