
.custom-button {
    font-size: 0.8rem; /* Adjust the font size to change the button size */
    width: 20px;
    padding: 0.2rem 0.6rem; /* Adjust the padding to resize the button */
  }


  .sortby{
    color: rgb(159, 106, 37);
    background-color: #efd648;
    width: 100px;
  }

  .text {
    color:rgba(187, 149, 68, 0.962);
    width: 500px;
    
  }

  .search-br2-container {
    background-color:#263646 ;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
  
  }

  .left-aligned{
    text-align: left;
  }

  .second-container {
    display: flex;
    margin-top: 55px;
    margin-left: 15px;
   
  }

  

  .wide-button {
    display: flex;
    background-color: #f6e68e;
    float: right;
    border-radius: 20px;
    color: rgb(159, 106, 37);
    
  }

  .buttons {
   display: inline-block;
   margin-left: 10px;
    
    
  }
  