.custom-button {
  font-size: 0.8rem; /* Adjust the font size to change the button size */
  width: 20px;
  padding: 0.2rem 0.6rem; /* Adjust the padding to resize the button */
}

.sortby {
  color: rgb(159, 106, 37);
  background-color: #efd648;
  width: 100px;
}

.text {
  color: rgba(187, 149, 68, 0.962);
  width: 500px;
}

.search-br2-container {
  background-color: #263646;
  /* margin: 0; */
  /* padding: 0; */
  /* height: 200px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  /* padding: 2rem 10vw; */
}

.sort-search-form {
  width: 500px;
  border: 2px solid var(--brown-1) !important;
  border-radius: 50px;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}
.sort-search {
  width: 500px;
  border-radius: 50px;
  height: 50px;
  padding: 0rem 2rem;
  position: relative;
}

.search-icon {
  color: var(--brown-1);
  position: absolute;
  right: 1rem;
  top: 10px;
  border: none;
}

.search-icon:hover,
.search-icon:active:focus {
  background-color: transparent;
  border: none;
  color: var(--brown-1);
}

@media screen and (min-width: 1400px) {
  .search-br2-container {
    padding: 2rem 5vw;
  }
}

/* .search-br2-container-container {
  border: 1px solid red;
  margin: 0px;
  padding: 0px;
} */

.second-container {
}
.sortby-container {
  flex: 0;
  display: flex;
  min-width: 300px;
  gap: 0.5rem;
  align-items: center;
}

.sortby-container button {
  min-width: 120px;
  height: 50px;
  font-weight: 600;
}

.sortby-container span p {
  color: var(--brown-1);
  font-size: 1.5rem;
  font-weight: 400;
}
.sort-button-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .sortby-container {
    align-items: center;
    justify-content: center;
  }

  .second-container {
    flex-direction: column;
    gap: 1rem;
  }
  .sort-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }

  .sort-button-container span {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sort-button-container span button {
    /* border: 1px solid red; */
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .sortby-container {
    align-items: center;
    justify-content: center;
  }

  .second-container {
    flex-direction: column;
    gap: 1rem;
  }
  .sort-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    justify-content: center;
    align-items: center;
  }

  .sort-button-container span {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sort-button-container span button {
    /* border: 1px solid red; */
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

.left-aligned {
  text-align: left;
}

.wide-button {
  display: flex;
  background-color: #f6e68e;
  float: right;
  border-radius: 20px;
  color: rgb(159, 106, 37);
}

.buttons {
  display: inline-block;
  margin-left: 10px;
}

.searchbar-container {
  padding-top: 5rem !important;
}

.searchbar-form {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
}

.searchbar-input-container,
.searchbar-container .css-b62m3t-container,
.search-br2-container .css-b62m3t-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.search-br2-container .css-b62m3t-container {
  width: max(50%, 600px);
}



.search-br2-container .css-b62m3t-container {
}

.searchbar-container .css-b62m3t-container {
  position: relative !important;
  width: 100%;
  height: 50px;
}
.css-13cymwt-control.react-select__control,
.react-select__control.css-t3ipsp-control.react-select__control--is-focused,
.react-select__control.css-t3ipsp-control.react-select__control--is-focused.react-select__control--menu-is-open,
.css-13cymwt-control.react-select__control:hover {
  width: 100%;
  border: none;
  padding: 0;
  border-radius: 50px !important;
  border: 2px solid var(--uniform-3) !important;
  /* height: 3rem; */
  padding-left: 2rem !important;
}

.css-13cymwt-control.react-select-search-br-2__control,
.react-select-search-br-2__control.css-t3ipsp-control.react-select-search-br-2__control--is-focused,
.react-select-search-br-2__control.css-t3ipsp-control.react-select-search-br-2__control--is-focused.react-select-search-br-2__control--menu-is-open,
.css-13cymwt-control.react-select-search-br-2__control:hover {
  width: 90%;
  border: none;
  padding: 0;
  border-radius: 50px !important;
  border: 2px solid var(--brown-1) !important;
  padding-left: 2rem !important;
  margin-right: 3rem;
}

.search-br-2 .css-i6dzq1.search-glasses {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: var(--uniform-1);
  transition: 0.2s;
}

.css-i6dzq1.search-glasses {
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: var(--uniform-1);
  transition: 0.2s;
}


@media screen and (max-width: 768px) {
  .search-br2-container .css-b62m3t-container {
    width: 500px;
    
  }
  .search-dropdown-container {
    width: 500px;
  }
  
}

.react-select__single-value.css-1dimb5e-singleValue {
  font-weight: 500;
  color: var(--uniform-1);
}


.react-select__menu.css-1nmdiq5-menu {

  z-index: 100;
}

.css-tr4s17-option {
  background-color: var(--uniform-3) !important;
}
.searchbar-container h1 {
  color: var(--uniform-1);
}

.searchbar-input-container input {
  border: 2px solid var(--uniform-3) !important;
  /* width: min(600px, 70%); */
  border-radius: 50px;
  border-color: grey;
  /* padding-right: 40px; */
  padding-left: 2rem;
  height: 3rem;
}

.searchbar-input-container button {
  position: absolute;
  right: 1rem;
  color: black;
  width: 50px;
}

.searchbar-input-container button,
.searchbar-input-container button:hover,
.searchbar-input-container button:active:focus {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
}

.search-bar-filters {
  /* border: 1px solid red; */
  /* margin: 1rem; */
  width: 500px;
  margin-top: 0.75rem;
  font-weight: 600;
}

.search-bar-filters > *:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
