/* Style for the container */
.container {
  padding-top: 20px;
}

/* Style for the image */
img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Style for the name  */
p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}